body {
    background-image: url("../img/burger-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
}

img {
	max-height: 20%;
    max-width: 20%;
}

.jumbotron {
	background-color: #ffff66;
}

.container {
	background-color: #ffff66;
}